@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@theme {
  --color-brand-blue: #2563eb;
  --color-chart-green: #10b981;
  --color-chart-red: #ef4444;
  --color-sidebar-bg: #f9fafb;
  --color-active-nav: #eef2ff;
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

